:root {
  --primary: rgb(18, 153, 131);
  --primary-light: rgb(175, 212, 206);
  --primary-text: white;
  --text: rgb(50, 50, 50);
  --link: rgb(150, 150, 150);
  --primary-link: rgb(174, 225, 229);
  --neutral-light: rgb(250, 250, 250);
  --neutral-mid: rgb(225, 225, 225);
}

.App {
  text-align: center;
  color: var(--text);
  font-family: 'Inter', sans-serif;
}

.header {
  border-bottom: 1px solid var(--neutral-mid);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--primary);
  padding: 0 1vw;
  height: 5vh;
}

a, a:visited {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.logo {
  font-weight: normal;
  font-size: 2vh;
  border: 1px solid var(--primary);
  border-radius: 20px;
  padding: 0.5vh 1vh;
  color: var(--primary);
}

h1 {
  font-weight: normal;
}

.tasks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
}


.task-list {
  width: 50vw;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: auto;
  padding: 1%;
  border: 1px solid var(--neutral-mid);
  border-radius: 10px;
}

.task {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0.5% 0;
  border-radius: 10px;
  background: var(--neutral-light);
}

.task-btn {
  width: 3rem;
  height: 3rem;
  color: var(--primary);
  margin: 2%;
  cursor: pointer;
  transition: all 200ms;
}

.task-btn-incomplete {
  border-radius: 100%;
  height: fit-content;
}

.task-btn-incomplete:hover {
  background: var(--primary-light);
}

.task-btn-task {
  width: 100%;
  margin: 2%;
  font-size: medium;
  text-align: left;
}