:root {
  --primary: rgb(18, 153, 131);
  --primary-mid: rgb(91, 197, 179);
  --primary-light: rgb(175, 212, 206);
  --primary-text: white;
  --text: rgb(50, 50, 50);
  --link: rgb(150, 150, 150);
  --primary-link: rgb(174, 225, 229);
  --neutral-light: rgb(250, 250, 250);
  --neutral-mid: rgb(225, 225, 225);
  --neutral-dark: rgb(200, 200, 200);
}

.App {
  text-align: center;
  color: var(--text);
  font-family: 'Inter', sans-serif;
}

.header {
  border-bottom: 1px solid var(--neutral-mid);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--primary);
  padding: 0 1vw;
  height: 5vh;
}

a, a:visited {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.logo {
  font-weight: normal;
  font-size: 2vh;
  border: 1px solid var(--primary);
  border-radius: 20px;
  padding: 0.5vh 1vh;
  color: var(--primary);
}

h1 {
  font-weight: normal;
}

.to-do {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.calendar-sidebar {
  height: 95vh;
  width: 35%;
  background: var(--primary);
  color: var(--primary-text);
}

.calendar-sidebar .react-calendar {
  width: 100%;
  padding: 5%;
  border: none;
  font-family: 'Inter', sans-serif;
}

.calendar-sidebar .react-calendar__month-view__weekdays {
  text-transform: none;
  font-weight: normal;
}

.calendar-sidebar .react-calendar__navigation button, .calendar-sidebar .react-calendar__tile {
  border-radius: 10px;
  transition: 200ms all;
}

.calendar-sidebar .react-calendar, .calendar-sidebar .react-calendar__navigation button:enabled:focus {
  background: transparent;
}

.calendar-sidebar .react-calendar__tile {
  width: 50px;
  height: 50px;
}

.calendar-sidebar .react-calendar__tile, .calendar-sidebar .react-calendar__navigation button {
  color: var(--primary-text);
  font-family: 'Inter', sans-serif;
}

.calendar-sidebar .react-calendar__tile--active,
.calendar-sidebar .react-calendar__tile--active:enabled:hover,
.calendar-sidebar .react-calendar__tile--active:enabled:focus,
.calendar-sidebar .react-calendar__navigation button:enabled:hover,
.calendar-sidebar .react-calendar__tile--now:enabled:hover, .calendar-sidebar .react-calendar__tile:enabled:hover {
  background: var(--primary-mid);
}

.calendar-sidebar .react-calendar__tile--now {
  background: var(--primary-light);
  color: var(--text);
}

.calendar-sidebar .react-calendar__year-view .react-calendar__tile,
.calendar-sidebar .react-calendar__decade-view .react-calendar__tile,
.calendar-sidebar .react-calendar__century-view .react-calendar__tile {
  padding: 0;
}

.calendar-sidebar .react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
  font-weight: bold;
}

.tasks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  width: 65%;
}


.task-list {
  width: 70%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: auto;
  padding: 1%;
  border: 1px solid var(--neutral-mid);
  border-radius: 10px;
}

.add-task {
  width: 70%;
}

.add-task-form {
  display: flex;
  justify-content: center;
}

.add-task-input {
  border: 1px solid var(--neutral-mid);
  width: 80%;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10rem;
  font-size: medium;
};

.add-task-input:focus-visible {
  outline-color: var(--primary);
};

.add-task-btn {
  background: var(--primary);
  color: var(--primary-text);
  border-radius: 10px;
}

.task {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0.5% 0;
  border-radius: 10px;
  background: var(--neutral-light);
}

.task-btn {
  width: 3rem;
  height: 3rem;
  color: var(--primary);
  margin: 2%;
  cursor: pointer;
  transition: all 200ms;
  border-radius: 100%;
  height: fit-content;
}

.task-btn-incomplete:hover {
  background: var(--primary-light);
}

.task-btn-task {
  width: 100%;
  margin: 2%;
  font-size: medium;
  text-align: left;
}

.task-delete {
  width: 1.5rem;
  height: 1.5rem;
  margin: 2%;
  color: var(--neutral-mid);
  cursor: pointer;
  transition: 100ms all;
}

.task-delete:hover {
  color: var(--neutral-dark);
}